@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-lg-12">
   <h1> 1 + 2 = {{1+2}}</h1>
    </div>
</div>
<div class="row" ng-controller="MyCtrl">
    <div class="col-lg-9">

    </div>
    <div class="col-lg-3">
        <button ng-click="awesome()">Click me</button>
    </div>
</div>